<h1>About Page</h1>

<p> 
<font size="3">
QnA is a question-based web application that allows you and your
followers to connect by simply asking a question! QnA is super
easy to set up and it is completely free! No ads, no subscriptions,
nothing!
</font>
</p>